@font-face {
    font-family: "Questrial";
    src: url(../vendor/font-awesome/fonts/Questrial-Regular.ttf) format("truetype");
}
body {
    font-family: Questrial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100% !important;
}

img {
    height: auto;
}

.content {
    width: 100%;
    max-width: 600px;
}

.header {
    padding: 0 20px 0 0;
    background-color: white !important;
}

.innerpadding {
    padding: 30px 30px 30px 35px;
}

.borderbottom {

}

.subhead {
    font-size: 15px;
    color: #ffffff;
    font-family: Questrial, sans-serif;
    letter-spacing: 10px;
}

.h1, .h2, .bodycopy {
    color: #153643;
    font-family: Questrial, sans-serif;
}
.spaces{
    margin-bottom: 8px;
}
p{
    margin: 0;
}
.h1 {
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
}

.h2 {
    padding: 0 0 15px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.bodycopy {
    font-size: 16px;
    line-height: 22px;
    padding-top: 10px;
}

.button {
    text-align: center;
    font-size: 18px;
    font-family: Questrial, sans-serif;
    font-weight: bold;
    padding: 0 30px 0 30px;
}

.button a {
    color: #ffffff;
    text-decoration: none;
}

.footer {
    padding: 20px 30px 15px 30px;
}

.footercopy {
    font-family: Questrial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.footercopy a {
    color: #ffffff;
    text-decoration: underline;
}

.confirmed-text{
    color: #28a745;
}

.button-itineray{
    width: 100%;
    background-color: #26B99A;
    padding: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.button-view-room{
    border: none;
    padding: 5px;
    width: 100px;
    color: white;
    background-color: #26b99a;
    font-weight: 600;
    cursor: pointer;
}

#container{
    width:100%;
    margin:auto;
    display: table;
}
#div1{
    width:50%;
    display:inline-block;
    vertical-align: middle;
}
#div2{
    width:40%;
    display:inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
    body[yahoo] .hide {
        display: none !important;
    }

    body[yahoo] .buttonwrapper {
        background-color: transparent !important;
    }

    body[yahoo] .button {
        padding: 0px !important;
    }

    body[yahoo] .button a {
        background-color: #e05443;
        padding: 15px 15px 13px !important;
    }

    body[yahoo] .unsubscribe {
        display: block;
        margin-top: 20px;
        padding: 10px 50px;
        background: #2f3942;
        border-radius: 5px;
        text-decoration: none !important;
        font-weight: bold;
    }
}